.container-form{
    margin: 0px 13%;

    h2{
        text-align: center;
    }

    form {
        margin-top: 30px;
    }

    mat-datepicker-toggle{
        position: relative;
        left: 93%;
        top: -22px;
    }

    mat-form-field{
        height: 80px;
    }

    .date{
        ::ng-deep div.mat-form-field-wrapper {
            height: 50px;
        }
    }

    .button{
        display: flex;
        justify-content: end;
        margin-top: 30px;
        
        button {
            height: 55px !important;
            width: 200px;
            background-color: #055ea9;
        }
    }

    @media (min-width: 835px){

        .button{
            margin-right: 10%;
        }

        mat-form-field{
            color: #055ea9 !important;
        }
        
        mat-form-field:nth-child(-n+8){
            width: 40%;
            margin-left: 5%;
        }

        mat-form-field:nth-child(9){
            width: 85%;
            margin-left: 5%;
        }
    }
}

::ng-deep .mat-snack-bar-container{
    background-color: rgb(80, 176, 51);
    color: #ffffff;
}
